<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Slim 3 Framework Application</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <style>
            html, body {
                height: 100%;
            }

            body {
                padding: 0;
                margin: 0;
                width: 100%;
                display: table;
                font-family: 'Open Sans', sans-serif;
            }

            .container {
                height: 100%;
                width: 100%;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }

            .content {
                text-align: center;
                display: inline-block;
                font-size: 1.2em;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <h1>Slim 3 has been installed</h1>
                {{ csrf_inputs|raw }}
            </div>
        </div>
    </body>
</html>
